.main {
  padding: 20px 20px 50px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: serif;

  .sub_title{
    margin-top: 12px;
  }

  .sub_title,.main_title {
    font-family: 'Fredericka the Great', cursive;
  }


  .hide{
    visibility: hidden;
    opacity: 0;
  }

  .white_font {
    color: #cacaca;
    font-size: 24px;
  }

  h1.white_font {
    color: #cacaca;
    font-size: 36px;
    .info_link {
      font-size: 18px;
    }
  }

  h1.white_font a{
    font-size: 36px;
  }

  h2.white_font {
    color: #cacaca;
    font-size: 30px;
  }

  hr.line {
    display: block;
    height: 1px;
    width: 50%;
    background-color: #484848;
    position: relative;
    border: 0;
    margin: .5em 0 1em;
  }

  hr.footer-line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #484848;
    position: relative;
    border: 0;
    margin: .5em 0 1em;
  }

  ul.list {
    color: #cacaca;
    font-size: 24px;
    list-style: circle;
  }

  .gap {
    margin-bottom: 60px;
  }

  a.info_link {
    font-size: 24px;
    font-family: serif;
  }

  .slider {
    position: relative;
    width: 95%;
    // height: 570px;

    .arrowLeft{
      position: absolute;
      top: 45%;
      left: 5%;
      background-color: rgba(0,0,0,0.3);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
    }

    .arrowRight{
      position: absolute;
      top: 45%;
      right: 5%;
      background-color: rgba(0,0,0,0.3);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.5s;
    }

    .slick-list{
      padding-bottom: 30px;
    }

    .ant-carousel{
      text-align: center;
      margin: auto;
      background: #2a2a2a;
      overflow: hidden;
  
      img{
        width: 100%;
        // max-height: 443px;
      }
    }
  }
  
  img{
    width: 100%;
  }

  .footer{
    display: flex;
    height: 140px;

    .footer-col{
      text-align: center;
      width: 33%;

      p.white_font {
        font-size: 18px;
      }

      .info_link{
        color: #cacaca;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    .white_font {
      font-size: 12px;
    }
    h1.white_font {
      font-size: 21px;
    }
    h1.white_font a{
      font-size: 12px;
    }
    h2.white_font {
      font-size: 16px;
    }
    ul.list {
      font-size: 12px;
    }
    a.info_link {
      font-size: 12px;
    }

    hr.footer-line {
      margin: .5em 0 .2em;
    }

    .footer {
      display: block;
      height: auto;
      .footer-col{
        height: 60px;
        margin: auto;
        width: 100%;
        p.white_font {
          font-size: 12px;
        }
  
        .info_link{
          font-size: 24px;
          margin-left: 8px;
          margin-right: 8px;
        }
      }
    }
  }
}

body {
  background-color: #2a2a2a;
}

